<app-nav></app-nav>



<div class="fondo">

</div>
<div class="contenedor">
  <div class="tenis1">
    <div class="mover">
      <img src="../assets/img/1jpeg.jpeg" width="100%">
    </div>
    <h2>Tenis Deportivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit. Provident ea expedita<br> repellat maxime nemo
      nesciunt recusandae <br>$170.000</p>
    <button>Comprar</button>
  </div>
</div>

<div class="contenedor">
  <div class="tenis1">
    <div class="mover">
      <img src="../assets/img/2.jpeg" width="100%">
    </div>
    <h2>Tenis Deportivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit. Provident ea expedita<br> repellat maxime nemo
      nesciunt recusandae <br>$300.000</p>
    <button>Comprar</button>
  </div>
</div>

<div class="contenedor">
  <div class="tenis1">
    <div class="mover">
      <img src="../assets/img/4.jpeg" width="100%">
    </div>
    <h2>Tenis Deportivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit. Provident ea expedita<br> repellat maxime nemo
      nesciunt recusandae <br>$120.000</p>
    <button>Comprar</button>
  </div>
</div>

<div class="contenedor">
  <div class="tenis1">
    <div class="mover">
      <img src="../assets/img/3.webp" width="100%">
    </div>
    <h2>Tenis Deportivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit. Provident ea expedita<br> repellat maxime nemo
      nesciunt recusandae <br>$140.000</p>
    <button>Comprar</button>
  </div>
</div>

<div class="contenedor">
  <div class="tenis1">
    <div class="mover">
      <img src="../assets/img/4.webp" width="100%">
    </div>
    <h2>Tenis Deportivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit. Provident ea expedita<br> repellat maxime nemo
      nesciunt recusandae <br>$160.000</p>
    <button>Comprar</button>
  </div>
</div>

<div class="contenedor">
  <div class="tenis1">
    <div class="mover">
      <img src="../assets/img/10.webp" width="100%">
    </div>
    <h2>Tenis Deportivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit. Provident ea expedita<br> repellat maxime nemo
      nesciunt recusandae <br>$180.000</p>
    <button>Comprar</button>
  </div>
</div>

<div class="contenedor">
  <div class="tenis1">
    <div class="mover">
      <img src="../assets/img/8.webp" width="100%">
    </div>
    <h2>Tenis Deportivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit. Provident ea expedita<br> repellat maxime nemo
      nesciunt recusandae <br>$200.000</p>
    <button>Comprar</button>
  </div>
</div>

<div class="contenedor">
  <div class="tenis1">
    <div class="mover">
      <img src="../assets/img/7.webp" width="100%">
    </div>
    <h2>Tenis Deportivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit. Provident ea expedita<br> repellat maxime nemo
      nesciunt recusandae <br>$150.000</p>
    <button>Comprar</button>
  </div>
</div>

<div class="contenedor">
  <div class="tenis1">
    <div class="mover">
      <img src="../assets/img/19.webp" width="100%">
    </div>
    <h2>Tenis Deportivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur<br>adipisicing elit. Provident ea expedita<br> repellat maxime nemo
      nesciunt recusandae <br>$100.000</p>
    <button>Comprar</button>
  </div>
</div>
<div class="clear"></div>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=573138701710&text=Hola bienvenido a tu consulta" class="float"
  target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>

<app-footer></app-footer>